<% include ./partials/header %>
<div class="container">
    <div class="jumbotron">

        <h1 style="text-align: center; color: blue" class="display-4 "> You Have Successfully Added</h1>
          <hr class="my-4">
          <div style=" padding-left: 200px; display: block; margin-left: auto; margin-right: auto; width: 50%;">

            <img src="<%=employee.image%>" alt="employee image">
          </div>
          <h3 style="text-align: center" class="lead"> <%=employee.name + " " + employee.title%></h3>
          <p style="text-align: center" class="lead"> <%=employee.desc%></p>

          <a href="/add/employee/logout">Logout</a>
          <a href="/api/employee/admin">View Employees</a>


    </div>
 </div>
