<% include ../partials/header %>
    <div class="row">
        <h1 style="text-align: center">Add Coupon</h1>
        <div style="width: 30%; margin: 25px auto;">
            <form action="/admin/coupons/add" method="POST" enctype="multipart/form-data">
                <div class="form-group">
                  <input type="file"  name="image" accept="image/*" required>
                </div>

                <div class="form-group">
                    <button class="btn btn-lg btn-primary btn-block" type='submit'>Add Coupon!</button>
                </div>
            </form>
            <a href="/admin/coupons">Back</a>
    </div>
